name: "B2500 Meter"
version: "1.0.8"
slug: b2500_meter
description: >-
  "Replicates a Smart Meter device for a B2500 energy storage system while allowing integration with various smart meters."
arch:
  - amd64
  - aarch64
  - armv7
url: "https://github.com/tomquist/b2500-meter"
image: "ghcr.io/tomquist/b2500-meter-addon"
panel_icon: "mdi:meter-electric"
init: false
startup: application
boot: auto
auto_restart: true
watchdog: "http://[HOST]:[PORT:52500]/health"
homeassistant_api: true
hassio_api: true
hassio_role: homeassistant
host_network: true
ports:
  12345/tcp: 12345
  12345/udp: 12345
  1010/udp: 1010
  2220/udp: 2220
  2222/udp: 2222
  2223/udp: 2223
  52500/tcp: 52500
map:
  - type: addon_config
    read_only: false
options:
  power_input_alias: "sensor.current_power_in"
  power_output_alias: ""
  poll_interval: 1
  disable_absolute_values: false
  device_types: "shellypro3em"
  throttle_interval: 0
  log_level: "info"
schema:
  power_input_alias: str
  power_output_alias: str?
  poll_interval: int(1,)
  disable_absolute_values: bool
  device_types: str
  throttle_interval: float(0,)
  log_level: list(critical|error|warning|info|debug)
  custom_config: str?